//Greyscale tones
$grey-1: #111;
$grey-2: #222;
$grey-3: #333;
$grey-4: #444;
$grey-5: #555;
$grey-6: #666;
$grey-7: #777;
$grey-8: #888;
$grey-9: #999;

$grey-a: #aaa;
$grey-b: #bbb;
$grey-c: #ccc;
$grey-d: #ddd;
$grey-e: #eee;

// Colors
$red: #da2626;
$blue: #0D28FF;

// Brand Colors
$mv-red:        rgb(141, 40, 56);
$mv-lightred:   rgb(191, 43, 69);
$mv-wine:       rgb(70, 20, 28);
$mv-pink:       rgb(223, 149, 162);
$mv-darkgray:   rgb(54, 48, 42);
$mv-gray:       rgb(172, 172, 172);
$mv-lightgray:  rgb(236, 233, 224);
$mv-salmon:     rgb(197, 165, 136);
$mv-yellow:     rgb(240, 179, 54);
$mv-separator:  rgba(255, 255, 255, 0.2);


//Theme specifics
$border: #000;
$default-background-color: #ece9e0;
$default-color: #000;
$hover-links: $blue;
$header: #f0f0f0;
