//Base font size
$base-font-size: 16px;
$mv-font-color: #36302a;

// Fonts

$mv-font1:  "Mercury Text G1 A", "Mercury Text G1 B", Georgia, serif;
$mv-font2:  "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;