{% set menu_links = [
  {'link' : 'http://www.mountvernon.org/library/', 'title' : 'The Library', 'current' : 'link emphasis'},
  {'link' : 'http://www.mountvernon.org/inn/', 'title' : 'Mount Vernon Inn Restaurant', 'current' : 'link emphasis'},
  {'link' : 'http://www.mountvernon.org/plan-your-visit/buy-tickets/', 'title' : 'Buy Tickets', 'current' : 'link'},
] 
%}

<ul class="menu">
  {% for link in menu_links %}
    <li  class="{{ link.current }}"><a href="{{ link.link }}">{{ link.title }}</a></li>
  {% endfor %}
</ul>
