// Index header.

header {
  margin: 0;
}

// End Menu section
// Title section
.title-section {
  background-color: $mv-red;
  height: 100px;
}

.title-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

a.logo {
  display: block;
  position: relative;
  height: 40px;
  width: 180px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;

  img {
    width: 180px;
    height: auto;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    background-color: $mv-separator;
  }
}

h1.page-title {
  display: block;
  width: auto;
  margin: 10px auto;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 14px;
  cursor: default;
}